/* Styles for screens smaller than 768px (tablets and smaller) */
@media (max-width: 768px) {
    .navbar {
      padding: 10px;
    }
    .navbar-logo {
      margin-left: 20px;
      margin-right: 10px;
    }
    .navbar-links {
      margin-left: 10px;
    }
    .navbar-button {
      margin-right: 20px;
      padding: 6px 15px;
    }
  }

  /* Styles for screens smaller than 576px (mobile phones) */
  @media (max-width: 576px) {
    .navbar {
      padding: 5px;
    }
    .navbar-logo {
      margin-left: 10px;
      margin-right: 5px;
    }
    .navbar-links {
      display: none; /* Hide links on mobile */
      margin: 0;
    }
    .divider {
      display: none; /* Hide divider on mobile */
    }
    .navbar-button {
      margin-right: 10px;
      padding: 5px 10px;
    }
  }